body {
    background-color: #131518;
    font-family: 'Overpass', sans-serif;
}

h2  {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 30px;
}

p {
   color: #969FAD;
   margin-top: 15px;
   font-size: 15px;
   line-height: 24px;
}

/*Rating Numbers*/

div.number {
    display: flex;
    justify-content: space-between;
}

.numbers {
    width: 51px;
    height: 51px;
    border-radius: 100%;
    border: none;
    color: #7C8798;
    background-color: #262E38;
    font-size: 16px;
    padding: 0;
}

.numbers:hover {
    cursor: pointer;
    background-color: #7C8798;
    color: #ffffff;
}



.active{
    background-color: #FC7614;
    color:#ffffff;
}

/* Submit Button*/

button.submit {
    background-color: #FC7614;
    color: #ffffff; 
    border-radius: 22.5px;
    border: none;
    width: 341px;
    height: 45px;
    margin-top: 32px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

button.submit:hover {
    background-color: #ffffff;
    color: #FC7614;
    cursor: pointer;
}



/* Style Star Icon */
.star {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    background-color: #262E38;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 16.75px;
    height: 16px;
}



/* Style Rating-Box */

.rating-box {
    width: 412px;
    height: 416px;
    margin: 0 auto;
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 195px;

}


.content {
    width: 341px;
    margin: 0 auto;
}



/* Thank you - Styling */
.thanks {
    text-align: center;
}

.hidden {
    display: none;
} 

.thanks > img {
    width: 162px;
    height: auto;
}

.selection {
    background-color: #262E38;
    border-radius: 22.5px;
    width: 193px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px auto;
}

.selection > p {
    color: #FC7614;
}



/* Attribution to FrontEndMentor*/

.attribution { font-size: 11px; text-align: center; margin-top: 7px; color: #969FAD }
.attribution a { color: #FC7614}